<div class="form">
  <form (ngSubmit)="onSubmit(Submissionform.value)" #Submissionform="ngForm">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" required minlength="5" id="Name" class="form-control" name="name" ngModel>
    </div>
    <div class="form-group">
      <div style="display: flex;justify-content: space-between">
        <div>
          <label for="DOB1">Date of Birth</label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="switch" name="switch"ngModel>
          <label class="custom-control-label" for="switch">Exact Date</label>
        </div>
      </div>
      <div *ngIf="Submissionform.value.switch;else approxDate">
        <input type="date" required id="DOB1" class="form-control" name="DOB" ngModel>
      </div>
      <ng-template #approxDate>
        <input type="number" required  id="DOB2" class="form-control" name="DOB" placeholder="Year of birth" [formControl]="yearController" ngModel>
      </ng-template>
    </div>
    <div class="form-group" style="display: flex;">
      <label> Gender :</label>
      <div style="margin: 0 10px">
        <input type="radio" id="male" value="Male" name="gender" ngModel required style="margin: 0 5px 0 0">
        <label for="male">Male</label>
      </div>
      <div style="margin: 0 10px">
        <input type="radio" id="female" value="Female" name="gender" ngModel requied style="margin: 0 5px">
        <label for="female">Female</label>
      </div>
    </div>
    <div class="submit-div">
      <button type="submit" class="btn btn-success" [disabled]="!Submissionform.valid">Submit</button>
    </div>
  </form>

</div>
