.footer {
  margin-top: 10px;
  text-align: center;
  padding: 3px;
  background-color: #f8f9fa;
  color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
}

nav :hover{
  text-transform: capitalize;
}

.container{
  max-width: 1200px;
}